<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="admin">
      <h2 data-cy="adminDetailsHeading"><span>Admin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ admin.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ admin.username }}</span>
        </dd>
        <dt><span>Password</span></dt>
        <dd>
          <span>{{ admin.password }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ admin.name }}</span>
        </dd>
        <dt><span>Lastname</span></dt>
        <dd>
          <span>{{ admin.lastname }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/admin', admin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
